node-red/flows.json
[{"id":"bfacab42.545938","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"4cdd17c8.2ccd28","type":"tab","label":"General","disabled":false,"info":""},{"id":"a034d22a.358ea","type":"tab","label":"Victor Bedroom","disabled":false,"info":""},{"id":"b54516ff.5c8848","type":"tab","label":"Rafa Bedroom","disabled":false,"info":""},{"id":"e20ff46b.449638","type":"tab","label":"Living Room Fan ","disabled":false,"info":""},{"id":"210f9dd4.707f42","type":"tab","label":"Energy","disabled":false,"info":""},{"id":"d1ece7c4.8b5908","type":"server","z":"","name":"Home Assistant"},{"id":"aaa9c49b.8c89c8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"tele/node_red/LWT","birthQos":"1","birthRetain":"true","birthPayload":"Online","closeTopic":"tele/node_red/LWT","closeQos":"1","closeRetain":"true","closePayload":"Offline","willTopic":"tele/node_red/LWT","willQos":"1","willRetain":"true","willPayload":"Offline"},{"id":"5cc197a4.b55278","type":"websocket-listener","z":"","path":"/node/help","wholemsg":"false"},{"id":"1d4707c.b4e14f8","type":"inject","z":"a034d22a.358ea","name":"","topic":"","payload":"Calli el bocuzo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":340,"wires":[["9119681.b4f0398"]]},{"id":"6730abd8.52f7b4","type":"mqtt in","z":"bfacab42.545938","name":"Livingroom button (Double press)","topic":"cmnd/ceilingfan/POWER","qos":"2","broker":"aaa9c49b.8c89c8","x":190,"y":380,"wires":[["ad468cd0.7c74f"]]},{"id":"3f68aec3.1b4d62","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Desktop Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\" : \"switch.desktop_lamp\" }","mergecontext":"","x":610,"y":40,"wires":[[]]},{"id":"67937892.a4b9c8","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Sofa Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\" : \"switch.sofa_lamp\" }","mergecontext":"","x":600,"y":80,"wires":[[]]},{"id":"bc90a3ba.419d8","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Desktop Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.desktop_lamp\" }","mergecontext":"","x":610,"y":140,"wires":[[]]},{"id":"3bd5a82.83f3258","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Sofa Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.sofa_lamp\" }","mergecontext":"","x":600,"y":180,"wires":[[]]},{"id":"9c125331.7bb6a","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF AC","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.livingroom_ac\" }","mergecontext":"","x":580,"y":220,"wires":[[]]},{"id":"dbc74b6b.14ee88","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Heater","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.livingroom_heater\" }","mergecontext":"","x":590,"y":260,"wires":[[]]},{"id":"8e67dfde.b62d","type":"server-state-changed","z":"bfacab42.545938","name":"PC Victor ON","server":"d1ece7c4.8b5908","entityidfilter":"switch.victor_pc","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":130,"y":460,"wires":[["477f90e3.65a7f"]]},{"id":"50037a83.be1bf4","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Monitor Victor","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.victor_monitor\" }","mergecontext":"","x":680,"y":460,"wires":[[]]},{"id":"477f90e3.65a7f","type":"api-current-state","z":"bfacab42.545938","name":"Steam Link Victor OFF","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"switch.victor_steam_link","override_payload":true,"x":400,"y":460,"wires":[["50037a83.be1bf4"]]},{"id":"cfad7e8e.f8a95","type":"server-state-changed","z":"bfacab42.545938","name":"PC Victor OFF","server":"d1ece7c4.8b5908","entityidfilter":"switch.victor_pc","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":140,"y":540,"wires":[["2d83cee4.78bba2"]]},{"id":"2d83cee4.78bba2","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Monitor Victor","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.victor_monitor\" }","mergecontext":"","x":690,"y":540,"wires":[[]]},{"id":"1c218184.d09d2e","type":"mqtt in","z":"a034d22a.358ea","name":"Google Home TTS","topic":"cmd/victor_bedroom_speaker/tts","qos":"2","broker":"aaa9c49b.8c89c8","x":190,"y":280,"wires":[["9119681.b4f0398"]]},{"id":"13f04efc.32e741","type":"time-range-switch","z":"4cdd17c8.2ccd28","name":"","lat":"","lon":"","startTime":"00:01","endTime":"23:59","startOffset":0,"endOffset":0,"x":670,"y":100,"wires":[["604bd2cd.7204dc"],[]]},{"id":"83d8962a.954f28","type":"mqtt out","z":"4cdd17c8.2ccd28","name":"Restart Wattmeter","topic":"cmnd/main_wattmeter/RESTART","qos":"","retain":"","broker":"aaa9c49b.8c89c8","x":1090,"y":100,"wires":[]},{"id":"1abf0c71.857654","type":"inject","z":"4cdd17c8.2ccd28","name":"Every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"","x":150,"y":100,"wires":[[]]},{"id":"604bd2cd.7204dc","type":"change","z":"4cdd17c8.2ccd28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":100,"wires":[["83d8962a.954f28"]]},{"id":"b95fac8c.d0fc2","type":"mqtt in","z":"4cdd17c8.2ccd28","name":"Entry Phone Call","topic":"stat/entry_phone/ENTRY_PHONE","qos":"2","broker":"aaa9c49b.8c89c8","x":180,"y":240,"wires":[["20eff311.e9f25c"]]},{"id":"20eff311.e9f25c","type":"change","z":"4cdd17c8.2ccd28","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Entrada\",\"message\":\"Alguien llama!\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["edce18fb.686fa8"]]},{"id":"edce18fb.686fa8","type":"link out","z":"4cdd17c8.2ccd28","name":"Notify All","links":["a3262d0b.39647","ddcf0ae3.327ba8","24db9ba0.a74844"],"x":595,"y":240,"wires":[]},{"id":"ddcf0ae3.327ba8","type":"link in","z":"4cdd17c8.2ccd28","name":"","links":["edce18fb.686fa8","ed65c584.507bd8","c05b5e46.fcfed","df7ef3ea.d4c5a","ea39df65.2bede","127c875c.0d3df9"],"x":75,"y":700,"wires":[["99722a89.16e4f8"]]},{"id":"b5da99a2.3ea668","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Push Notification","server":"d1ece7c4.8b5908","service_domain":"notify","service":"pisaso_gcm","data":"","mergecontext":"","x":410,"y":680,"wires":[[]]},{"id":"7c4c9c9c.879624","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Victor TV Notification","server":"d1ece7c4.8b5908","service_domain":"notify","service":"victor_tv","data":"","mergecontext":"","x":420,"y":740,"wires":[[]]},{"id":"a3262d0b.39647","type":"link in","z":"a034d22a.358ea","name":"","links":["edce18fb.686fa8","ed65c584.507bd8","c05b5e46.fcfed","df7ef3ea.d4c5a","ea39df65.2bede","127c875c.0d3df9"],"x":115,"y":220,"wires":[["f827691e.18cd98"]]},{"id":"f827691e.18cd98","type":"template","z":"a034d22a.358ea","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.title}}:{{payload.message}}","output":"str","x":220,"y":220,"wires":[["9119681.b4f0398"]]},{"id":"c7a35937.bcf288","type":"trigger-state","z":"4cdd17c8.2ccd28","name":"Washing Machine finished","server":"d1ece7c4.8b5908","entityid":"sensor.laundry_state","debugenabled":false,"constraints":[{"id":"0m3v7hgijzx","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"WASHING"},{"id":"lhqaf8rgzhj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"PROGRAMME ENDED"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":150,"y":380,"wires":[["4df267fc.7669b8"],[]]},{"id":"4df267fc.7669b8","type":"change","z":"4cdd17c8.2ccd28","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Lavadora\",\"message\":\"Programa finalizado!\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["edce18fb.686fa8"]]},{"id":"f5148119.308da","type":"inject","z":"a034d22a.358ea","name":"Everyday at Night","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["a86d0719.6a90c8"]]},{"id":"34d57dc9.1f71d2","type":"api-call-service","z":"a034d22a.358ea","name":"Turn ON Insecticide","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\":\"switch.insecticide\" }","mergecontext":"","x":810,"y":60,"wires":[[]]},{"id":"bade5816.48d328","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Desktop Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.desktop_lamp\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":620,"y":60,"wires":[[]]},{"id":"28a6bf2a.266dd","type":"switch","z":"b54516ff.5c8848","name":"Command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"desktop_light","vt":"str"},{"t":"eq","v":"rafa_fan","vt":"str"},{"t":"eq","v":"rafa_extender","vt":"str"},{"t":"eq","v":"rafa_ikea","vt":"str"},{"t":"eq","v":"rafa_rgb","vt":"str"},{"t":"eq","v":"rafa_nap","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":370,"y":220,"wires":[["bade5816.48d328"],["7628b7d1.fd74e8"],["e311d973.bf07f8"],["86de5025.92fc5"],["8f20956a.71eb68"],["c79ebda.7d0c34"]]},{"id":"14213a31.b30156","type":"mqtt in","z":"b54516ff.5c8848","name":"Pebble Command","topic":"cmd/rafa_services/trigger","qos":"2","broker":"aaa9c49b.8c89c8","x":150,"y":220,"wires":[["28a6bf2a.266dd"]]},{"id":"e311d973.bf07f8","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Rafa Extender","server":"d1ece7c4.8b5908","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch..rafa_extender\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":619,"y":214,"wires":[[]]},{"id":"86de5025.92fc5","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Sofa Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"toggle","data":"{ \"entity_id\" : \"switch.sofa_lamp\" }","mergecontext":"","x":610,"y":300,"wires":[[]]},{"id":"6407a685.941588","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Rafa RGB","server":"d1ece7c4.8b5908","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.rafa_rgb_leds\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":811,"y":410,"wires":[[]]},{"id":"a86d0719.6a90c8","type":"api-current-state","z":"a034d22a.358ea","name":"Victor Location","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.google_maps_110963040061122904230","state_type":"str","override_payload":true,"override_data":true,"x":420,"y":60,"wires":[["4c9413cd.9dcaac"]]},{"id":"4c9413cd.9dcaac","type":"switch","z":"a034d22a.358ea","name":"At Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":60,"wires":[["34d57dc9.1f71d2"]]},{"id":"a40605c5.978218","type":"inject","z":"4cdd17c8.2ccd28","name":"Every Minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":860,"wires":[["aa7dea15.428c88","54d32e30.ceb8c"]]},{"id":"7e5892d8.63c38c","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Turn on washing machine","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\" : \"switch.washing_machine\" }","mergecontext":"","x":1110,"y":860,"wires":[[]]},{"id":"bd4cf7ce.16b008","type":"inject","z":"a034d22a.358ea","name":"Everyday at Morning","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[[]]},{"id":"13da70ee.afb5ff","type":"api-current-state","z":"a034d22a.358ea","name":"Victor Location","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","override_topic":true,"entity_id":"device_tracker.google_maps_110963040061122904230","override_payload":true,"x":420,"y":120,"wires":[["16816fa4.cbe06"]]},{"id":"16816fa4.cbe06","type":"switch","z":"a034d22a.358ea","name":"At Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":120,"wires":[["54bc3eaa.4edab"]]},{"id":"54bc3eaa.4edab","type":"api-call-service","z":"a034d22a.358ea","name":"Activate Climate","server":"d1ece7c4.8b5908","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate.victor_climate\", \"temperature\":22 }","mergecontext":"","x":800,"y":120,"wires":[["c661b57f.408c28"]]},{"id":"c661b57f.408c28","type":"delay","z":"a034d22a.358ea","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":120,"wires":[["56bd8166.782ce"]]},{"id":"56bd8166.782ce","type":"api-call-service","z":"a034d22a.358ea","name":"Deactivate Climate","server":"d1ece7c4.8b5908","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate.victor_climate\", \"temperature\":10 }","mergecontext":"","x":1210,"y":120,"wires":[[]]},{"id":"99722a89.16e4f8","type":"template","z":"4cdd17c8.2ccd28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": { \"title\":\"{{payload.title}}\", \"message\":\"{{payload.message}}\"}}","output":"str","x":200,"y":700,"wires":[["b5da99a2.3ea668","7c4c9c9c.879624"]]},{"id":"aa7dea15.428c88","type":"moment","z":"4cdd17c8.2ccd28","name":"Current time","topic":"current","input":"payload","inputType":"msg","inTz":"Europe/Madrid","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"","outputType":"msg","outTz":"Europe/Madrid","x":370,"y":860,"wires":[["fb117e8b.9c8ea"]]},{"id":"7f485854.10e7c8","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Clean input_text","server":"d1ece7c4.8b5908","service_domain":"input_text","service":"set_value","data":"{ \"entity_id\" : \"input_text.washing_machine_start_hour\",\"value\":\"\" }","mergecontext":"","x":1080,"y":920,"wires":[[]]},{"id":"fb117e8b.9c8ea","type":"function","z":"4cdd17c8.2ccd28","name":"Are equals?","func":"context.currentTime = context.currentTime || \"00:00\";\ncontext.programmedTime = context.programmedTime || \"12:00\";\n\nif (msg.topic === 'current') {\n  context.currentTime = msg.payload;\n} \nelse if (msg.topic === 'input_text.washing_machine_start_hour') {\n  context.programmedTime = msg.payload;\n}\n\nif (context.currentTime == context.programmedTime) {\n  context.currentTime = \"00:00\";\n  context.programmedTime = \"01:00\";\n  return {topic: 'result', payload: 'true'};\n}","outputs":1,"noerr":0,"x":630,"y":860,"wires":[["1d2fbc72.aa16e4"]]},{"id":"1d2fbc72.aa16e4","type":"switch","z":"4cdd17c8.2ccd28","name":"Is it the time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":860,"wires":[["7e5892d8.63c38c","7f485854.10e7c8"]]},{"id":"54d32e30.ceb8c","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Programmed Hour","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_text.washing_machine_start_hour","override_payload":true,"x":390,"y":920,"wires":[["fb117e8b.9c8ea"]]},{"id":"93ced171.c1a9c","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Ceiling Fan","server":"d1ece7c4.8b5908","service_domain":"fan","service":"turn_off","data":"{ \"entity_id\" : \"fan.livingroom_fan\" }","mergecontext":"","x":600,"y":300,"wires":[[]]},{"id":"ad468cd0.7c74f","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Ceiling Fan","server":"d1ece7c4.8b5908","service_domain":"fan","service":"toggle","data":"{ \"entity_id\" : \"fan.livingroom_fan\" }","mergecontext":"","x":590,"y":380,"wires":[[]]},{"id":"47fc25c5.72d3ac","type":"mqtt in","z":"a034d22a.358ea","name":"Dash Victor Brabantia","topic":"cmnd/victor_brabantia/POWER","qos":"2","broker":"aaa9c49b.8c89c8","x":200,"y":460,"wires":[["9035fc1e.8a27a"]]},{"id":"9035fc1e.8a27a","type":"api-call-service","z":"a034d22a.358ea","name":"Toggle Desktop Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"toggle","data":"{ \"entity_id\" : \"switch.desktop_lamp\" }","mergecontext":"","x":500,"y":460,"wires":[[]]},{"id":"302cea9f.379a86","type":"mqtt in","z":"a034d22a.358ea","name":"Dash Victor Durex","topic":"cmnd/victor_durex/POWER","qos":"2","broker":"aaa9c49b.8c89c8","x":190,"y":540,"wires":[["716dec6e.c60c14"]]},{"id":"716dec6e.c60c14","type":"api-call-service","z":"a034d22a.358ea","name":"Toggle Victor Fan","server":"d1ece7c4.8b5908","service_domain":"fan","service":"toggle","data":"{ \"entity_id\" : \"fan.victor_fan\" }","mergecontext":"","x":490,"y":540,"wires":[[]]},{"id":"2f41bed3.f31ae2","type":"mqtt in","z":"b54516ff.5c8848","name":"Dash Rafa Durex","topic":"cmnd/rafa_durex/POWER","qos":"2","broker":"aaa9c49b.8c89c8","x":140,"y":580,"wires":[["6fb96d98.da4144"]]},{"id":"6fb96d98.da4144","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Sofa Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"toggle","data":"{ \"entity_id\" : \"switch.sofa_lamp\" }","mergecontext":"","x":850,"y":580,"wires":[[]]},{"id":"744f604.d1e00a","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Main Energy","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","override_topic":false,"entity_id":"sensor.main_energy","override_payload":true,"override_data":true,"x":350,"y":100,"wires":[["423fc82f.5eebc8","30d44399.80da4c"]]},{"id":"423fc82f.5eebc8","type":"switch","z":"4cdd17c8.2ccd28","name":"Is 0?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":100,"wires":[["13f04efc.32e741"]]},{"id":"6fe32b65.9ef7f4","type":"inject","z":"4cdd17c8.2ccd28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["4df267fc.7669b8"]]},{"id":"e70722fc.cc4fa","type":"http request","z":"4cdd17c8.2ccd28","name":"Last Hassio Version","method":"GET","ret":"obj","url":"https://s3.amazonaws.com/hassio-version/stable.json","tls":"","x":340,"y":460,"wires":[["c4eaee1.369781"]]},{"id":"dbf0f40f.7cf928","type":"inject","z":"4cdd17c8.2ccd28","name":"Every 2 minutes","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":460,"wires":[["e70722fc.cc4fa"]]},{"id":"da827bdf.198628","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Current Hassio Version","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","override_topic":false,"entity_id":"sensor.installed_version","override_payload":true,"x":630,"y":460,"wires":[["eb48a09.5321d6"]]},{"id":"6e71426e.7e832c","type":"switch","z":"4cdd17c8.2ccd28","name":"Update available?","property":"current_hass","propertyType":"flow","rules":[{"t":"lt","v":"last_hass","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":460,"wires":[["d3c2289b.85f4e8"]]},{"id":"eb48a09.5321d6","type":"change","z":"4cdd17c8.2ccd28","name":"","rules":[{"t":"set","p":"current_hass","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":420,"wires":[["6e71426e.7e832c"]]},{"id":"df7ef3ea.d4c5a","type":"link out","z":"4cdd17c8.2ccd28","name":"Notify All","links":["a3262d0b.39647","ddcf0ae3.327ba8","24db9ba0.a74844"],"x":1295,"y":460,"wires":[]},{"id":"4766fc66.1fa074","type":"switch","z":"4cdd17c8.2ccd28","name":"Changed?","property":"last_hass","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":520,"wires":[["543d9f5b.e8a97"]]},{"id":"c674eddd.afcbb","type":"change","z":"4cdd17c8.2ccd28","name":"Hass version","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.homeassistant['raspberrypi3-64']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["4766fc66.1fa074"]]},{"id":"543d9f5b.e8a97","type":"change","z":"4cdd17c8.2ccd28","name":"","rules":[{"t":"set","p":"last_hass","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":520,"wires":[["da827bdf.198628"]]},{"id":"d3c2289b.85f4e8","type":"template","z":"4cdd17c8.2ccd28","name":"Notification Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"title\":\"Nueva actualizacion disponible\",\n    \"message\":\"Hassio {{flow.last_hass}}\",\n    \"data\": {\n        \"tag\": \"hassio-update-notification\"\n    }\n}","output":"json","x":1140,"y":460,"wires":[["df7ef3ea.d4c5a"]]},{"id":"c4eaee1.369781","type":"switch","z":"4cdd17c8.2ccd28","name":"Succeed?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":520,"wires":[["c674eddd.afcbb","a8eb5bcd.7071d8"]]},{"id":"821445a2.f643d8","type":"inject","z":"bfacab42.545938","name":"","topic":"","payload":"Calli el bocuzo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":260,"y":780,"wires":[["d24ef677.6bb418"]]},{"id":"792dc1f2.bacc6","type":"mqtt in","z":"bfacab42.545938","name":"Google Home TTS","topic":"cmd/livingroom_speaker/tts","qos":"2","broker":"aaa9c49b.8c89c8","x":250,"y":720,"wires":[["d24ef677.6bb418"]]},{"id":"24db9ba0.a74844","type":"link in","z":"bfacab42.545938","name":"","links":["edce18fb.686fa8","ed65c584.507bd8","c05b5e46.fcfed","df7ef3ea.d4c5a","ea39df65.2bede","127c875c.0d3df9","6dc0c5df.ac58fc","c9a3901a.0c989"],"x":175,"y":660,"wires":[["ee707647.93b5b8"]]},{"id":"ee707647.93b5b8","type":"template","z":"bfacab42.545938","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.title}}:{{payload.message}}","output":"str","x":280,"y":660,"wires":[["d24ef677.6bb418"]]},{"id":"a6c00222.db104","type":"server-state-changed","z":"4cdd17c8.2ccd28","name":"Watering ON","server":"d1ece7c4.8b5908","entityidfilter":"switch.watering","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":130,"y":1020,"wires":[["8a0e7d38.9feae"]]},{"id":"8a0e7d38.9feae","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Current weather","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","override_topic":true,"entity_id":"weather.home_weather","override_payload":true,"x":320,"y":1020,"wires":[["b715efe3.eb2e6","116bb57e.cec0eb"]]},{"id":"b715efe3.eb2e6","type":"debug","z":"4cdd17c8.2ccd28","name":"Weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":1080,"wires":[]},{"id":"116bb57e.cec0eb","type":"switch","z":"4cdd17c8.2ccd28","name":"Is rainy?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rainy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1020,"wires":[["8475ba38.51f468"]]},{"id":"8475ba38.51f468","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Turn OFF watering","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{\"entity_id\" : \"switch.watering\"}","mergecontext":"","x":740,"y":1020,"wires":[[]]},{"id":"a8eb5bcd.7071d8","type":"change","z":"4cdd17c8.2ccd28","name":"HassOS version","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hassos['rpi3-64']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[["23ddeebc.931f72"]]},{"id":"23ddeebc.931f72","type":"switch","z":"4cdd17c8.2ccd28","name":"Changed?","property":"last_hassos","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":580,"wires":[["6c76f186.f39e6"]]},{"id":"6c76f186.f39e6","type":"change","z":"4cdd17c8.2ccd28","name":"","rules":[{"t":"set","p":"last_hassos","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":580,"wires":[[]]},{"id":"30d44399.80da4c","type":"debug","z":"4cdd17c8.2ccd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":160,"wires":[]},{"id":"f48f5734.138e48","type":"cast-to-client","z":"bfacab42.545938","name":"Salon","url":"","contentType":"","message":"","language":"","ip":"192.168.1.120","port":"","volume":"","x":810,"y":740,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"d24ef677.6bb418","type":"change","z":"bfacab42.545938","name":"Format Message","rules":[{"t":"set","p":"message","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"language","pt":"msg","to":"Es-es","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":760,"wires":[["f48f5734.138e48","225c1987.5066b6","2d24123f.a323fe","e187601e.4e56d"]]},{"id":"225c1987.5066b6","type":"cast-to-client","z":"bfacab42.545938","name":"Cocina","url":"","contentType":"","message":"","language":"","ip":"192.168.1.176","port":"","volume":"","x":820,"y":800,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"2d24123f.a323fe","type":"cast-to-client","z":"bfacab42.545938","name":"Victor","url":"","contentType":"","message":"","language":"","ip":"192.168.1.128","port":"","volume":"","x":810,"y":860,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"e187601e.4e56d","type":"cast-to-client","z":"bfacab42.545938","name":"Rafa","url":"","contentType":"","message":"","language":"","ip":"192.168.1.192","port":"","volume":"","x":810,"y":680,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"6cc1d44a.7133cc","type":"cast-to-client","z":"a034d22a.358ea","name":"Victor","url":"","contentType":"","message":"","language":"","ip":"192.168.1.128","port":"","volume":"","x":610,"y":280,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"9119681.b4f0398","type":"change","z":"a034d22a.358ea","name":"Format Message","rules":[{"t":"set","p":"message","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"language","pt":"msg","to":"Es-es","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["6cc1d44a.7133cc"]]},{"id":"e8d21ca6.5687f","type":"inject","z":"bfacab42.545938","name":"Que me la chupes","topic":"","payload":"que me la chupes que me la chupes que me la chupes","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":900,"wires":[["d24ef677.6bb418"]]},{"id":"1d51c448.0873cc","type":"inject","z":"bfacab42.545938","name":"Pitroca","topic":"","payload":"El señor se va de casa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":840,"wires":[["d24ef677.6bb418"]]},{"id":"8f20956a.71eb68","type":"time-range-switch","z":"b54516ff.5c8848","name":"Is at night?","lat":"","lon":"","startTime":"23:00","endTime":"8:00","startOffset":0,"endOffset":0,"x":591,"y":390,"wires":[["6d828a14.c9d7d4"],["6407a685.941588"]]},{"id":"7628b7d1.fd74e8","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Rafa Fan","server":"d1ece7c4.8b5908","service_domain":"switch","service":"toggle","data":"{ \"entity_id\" : \"switch.rafa_fan\" }","mergecontext":"","x":600,"y":140,"wires":[[]]},{"id":"6d828a14.c9d7d4","type":"api-call-service","z":"b54516ff.5c8848","name":"Toggle Rafa RGB","server":"d1ece7c4.8b5908","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.rafa_rgb_leds\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":811,"y":370,"wires":[[]]},{"id":"c79ebda.7d0c34","type":"delay","z":"b54516ff.5c8848","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":500,"wires":[[]]},{"id":"5193fbfc.7895d4","type":"inject","z":"210f9dd4.707f42","name":"Every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["d9878b2c.57d5a8"]]},{"id":"1e0cf986.ae8486","type":"http request","z":"210f9dd4.707f42","name":"PVPC request","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.esios.ree.es/archives/70/download_json?locale=es&date=","tls":"","proxy":"","authType":"basic","x":520,"y":100,"wires":[["b7fd10e1.34066"]]},{"id":"d9878b2c.57d5a8","type":"moment","z":"210f9dd4.707f42","name":"Date Formatter","topic":"","input":"","inputType":"msg","inTz":"Europe/Madrid","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"","outputType":"msg","outTz":"Europe/Madrid","x":320,"y":100,"wires":[["1e0cf986.ae8486"]]},{"id":"b7fd10e1.34066","type":"function","z":"210f9dd4.707f42","name":"Current prices","func":"var date = new Date();\nvar prices = msg.payload.PVPC[date.getHours()];\nmsg.gen = prices.GEN.replace(',', '.');\nmsg.noc = prices.NOC.replace(',', '.');\nmsg.vhc = prices.VHC.replace(',', '.');\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["77991150.49bc6","918de7b2.dc7b88","1e7b619.5e1629e"]]},{"id":"10af96fe.99c4a9","type":"mqtt out","z":"210f9dd4.707f42","name":"Publish GEN","topic":"tele/ree/pvpc/gen","qos":"1","retain":"true","broker":"aaa9c49b.8c89c8","x":1090,"y":40,"wires":[]},{"id":"77991150.49bc6","type":"change","z":"210f9dd4.707f42","name":"GEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"gen","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":40,"wires":[["10af96fe.99c4a9"]]},{"id":"c2591306.bfcb1","type":"mqtt out","z":"210f9dd4.707f42","name":"Publish NOC","topic":"tele/ree/pvpc/noc","qos":"1","retain":"true","broker":"aaa9c49b.8c89c8","x":1090,"y":100,"wires":[]},{"id":"918de7b2.dc7b88","type":"change","z":"210f9dd4.707f42","name":"NOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"noc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":100,"wires":[["c2591306.bfcb1"]]},{"id":"9c45a99f.86a418","type":"mqtt out","z":"210f9dd4.707f42","name":"Publish VHC","topic":"tele/ree/pvpc/vhc","qos":"1","retain":"true","broker":"aaa9c49b.8c89c8","x":1090,"y":160,"wires":[]},{"id":"1e7b619.5e1629e","type":"change","z":"210f9dd4.707f42","name":"VHC","rules":[{"t":"set","p":"payload","pt":"msg","to":"vhc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":160,"wires":[["9c45a99f.86a418"]]},{"id":"298bb25a.02376e","type":"switch","z":"e20ff46b.449638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":990,"y":440,"wires":[["e1cd6662.24c828"],["1ad5e49f.e0a1cb"],["c4a39263.0bad"],["7c86dd27.b98a14"]]},{"id":"e1cd6662.24c828","type":"api-call-service","z":"e20ff46b.449638","name":"Fan IR Off","server":"d1ece7c4.8b5908","service_domain":"switch","service":"broadlink_send_packet_192_168_1_104","data":"{   \"packet\": [     \"JgACASsMKw0PKA8oDygQKA8oDygPKBAoDygPAAEFKwwrDBAoDygPKCsMKwwrDSsMKwwrDCvpKw0rDA8oECcQKA8oDygrDBAoDygPKA8AAQUrDCsNDygPKA8oECgPKCsMDygQKA8oDwABBSsMKwwQKA8oDygPKBAoKwwPKA8oECgPAAEFKwwrDBAnECgPKA8oECcrDQ8oDygPKBAAAQQsDCsJEigQKA8oDygPKCsMECgPKA8oDwABBSsNKg0OKQ4pDykPKA4pKg0OKRAoDikOAAEGKgssDg4pDikOKQ8pDygqCxApDykPKA4AAQYrDCoNDykOKQ4pDygQKCkKEikPKA8pDgANBQAAAAAAAA==\"   ] }","mergecontext":"","x":1170,"y":380,"wires":[[]]},{"id":"1ad5e49f.e0a1cb","type":"api-call-service","z":"e20ff46b.449638","name":"Fan IR Low","server":"d1ece7c4.8b5908","service_domain":"switch","service":"broadlink_send_packet_192_168_1_104","data":"{   \"packet\": [     \"JgD0ACkOKQ4OKg0qDSoNKg4qDSoNKg0rDSoNAAEHKwwrDQ4pDSoNKygPKA8pDikPKA8qDSrqKg4pDg4pDikPKSoNDikOKg4pDikqDSnsKQ4pDg4pDykOKSoNDikPKQ8oDygrDSrqKwwrDBAoDygPKCsNDygPKA8oDykqDSvpKwwrDQ4pDygPKSoNDygPKA8pDygrDCvpKw0rDA8oECgPKCsMDygQKA8oDygrDCvnLgwrDBAoDygPKCsMECgPKA8oECgqDSvpKwwrDQ4pDygQJysNDikPKA8pDygrDSrpKw0qDQ4pDykPKCsMDikPKQ4pDygrDSkADQUAAAAA=\"   ] }","mergecontext":"","x":1170,"y":420,"wires":[[]]},{"id":"c4a39263.0bad","type":"api-call-service","z":"e20ff46b.449638","name":"Fan IR Medium","server":"d1ece7c4.8b5908","service_domain":"switch","service":"broadlink_send_packet_192_168_1_104","data":"{   \"packet\": [     \"JgACASkPKA8NKg0qDioNKg0qDSoOKg0qDSoNAAEIKQ4pDg0rDSoNKikOKQ8oDykOKQ4pDyjsKQ4pDw0qDSoNKg4qDSoNKg0rKA8NKg0AAQcpDykODSoNKw0qDSoNKg4qDSopDg0qDgABBykOKQ4OKg0qDSoNKw0qDSoNKikPDSoNAAEHKQ8oDw0qDSoOKg0qDSoNKw0qKQ4NKg4AAQcpDikODSsNKg0qDSoOKg0qDSopDw0qDQABBykPKA8NKg0qDioNKg0qDSsNKikODSoNAAEIKA8pDg0qDioNKg0qDSsNKg0qKQ4NKw0AAQcpDikPDSoNKg0qDioNKg0qDSsoDw0qDQANBQAAAAAAAA==\"   ] }","mergecontext":"","x":1180,"y":460,"wires":[[]]},{"id":"7c86dd27.b98a14","type":"api-call-service","z":"e20ff46b.449638","name":"Fan IR High","server":"d1ece7c4.8b5908","service_domain":"switch","service":"broadlink_send_packet_192_168_1_104","data":"{   \"packet\": [     \"JgD0ACkPKBAMKg0rDCsNKg0qDSsNKg0qDSoNAAEIKQ4pDg0rDSoNKikPKA8oDykOKQ8oDynrKQ8oDw0qDSsMKw0qDSoNKw0qDSoNKinsKg0qDQ8qDSoNKg0qDikOKQ4qDikPKCvpKw4pDQ8oDykPKA8pDikPKA8oDygQKCrqKwwrDQ8oDygPKQ8oDygPKBAoDygPKCvqKwwrDA8pDygPKA8oECgPKA8oECgPKCvpKw0qDQ8oDygQKA8oDygQKA8oDygPKCvqKwwrDBAoDygPKA8pDygPKA8oECgPKCvpKw0qDQ8oDygQKA8oDygPKQ8oDygPKCsADQUAAAAA=\"   ] }","mergecontext":"","x":1170,"y":500,"wires":[[]]},{"id":"3ea6bc97.143d14","type":"mqtt in","z":"e20ff46b.449638","name":"CMD FanSpeed","topic":"cmnd/livingroom_fan/FanSpeed","qos":"2","broker":"aaa9c49b.8c89c8","x":180,"y":500,"wires":[["bb2c42a8.d7778"]]},{"id":"d626eea8.904e","type":"mqtt out","z":"e20ff46b.449638","name":"Publish State","topic":"stat/livingroom_fan/RESULT","qos":"1","retain":"true","broker":"aaa9c49b.8c89c8","x":890,"y":520,"wires":[]},{"id":"bb2c42a8.d7778","type":"function","z":"e20ff46b.449638","name":"Filter","func":"var newSpeed = msg.payload;\nif(newSpeed < 0 || newSpeed > 3)\n{\n    var currentSpeed = flow.get('speed') || 0;\n    msg.payload = currentSpeed;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["31dbb075.383b6","4a152b0c.ab5f04"]]},{"id":"a38bbfd3.9269","type":"mqtt in","z":"e20ff46b.449638","name":"CMD FanPower","topic":"cmnd/livingroom_fan/FanPower","qos":"1","broker":"aaa9c49b.8c89c8","x":180,"y":440,"wires":[["2c202935.0ede56"]]},{"id":"2c202935.0ede56","type":"function","z":"e20ff46b.449638","name":"Select Speed","func":"var currentSpeed = flow.get('speed') || 0;\n\nvar turnOn = msg.payload == 'on';\nmsg.payload = currentSpeed;\n\nif(turnOn)\n{\n    if(currentSpeed == 0)\n    {\n        msg.payload = 3;\n    }\n}\nelse if(currentSpeed > 0)\n{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["bb2c42a8.d7778"]]},{"id":"53f04b78.ad7424","type":"inject","z":"e20ff46b.449638","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["2c202935.0ede56"]]},{"id":"a14d1a7e.a067d8","type":"inject","z":"e20ff46b.449638","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["2c202935.0ede56"]]},{"id":"31dbb075.383b6","type":"function","z":"e20ff46b.449638","name":"Format","func":"var power = msg.payload > 0 ? 'on' : 'off';\nmsg.payload = \n{ \n    Power: power,\n    FanSpeed: parseInt(msg.payload)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":520,"wires":[["d626eea8.904e"]]},{"id":"4a152b0c.ab5f04","type":"switch","z":"e20ff46b.449638","name":"Changed?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"speed","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":440,"wires":[["8292760e.ee8348"]]},{"id":"8292760e.ee8348","type":"function","z":"e20ff46b.449638","name":"Store","func":"var currentSpeed = flow.get('speed') || 0;\nvar newSpeed = msg.payload;\n\nif(newSpeed >= 0 && newSpeed <= 3)\n{\n    flow.set('speed', newSpeed);\n}\nelse\n{\n    msg.payload = currentSpeed;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["298bb25a.02376e"]]},{"id":"554f1e59.528ef","type":"change","z":"a034d22a.358ea","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"SPY\",\"message\":\"El trolazo llega a casa\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[["127c875c.0d3df9"]]},{"id":"127c875c.0d3df9","type":"link out","z":"a034d22a.358ea","name":"Notify All","links":["a3262d0b.39647","ddcf0ae3.327ba8","24db9ba0.a74844"],"x":695,"y":660,"wires":[]},{"id":"9e4073f8.add6","type":"inject","z":"bfacab42.545938","name":"Frase aleatoria","topic":"","payload":"es hora de dormir victor. Aunque preferiria estar solita contigo y cantarte una nana como suelo hacer los dias si es que aurora no está","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":260,"y":960,"wires":[["d24ef677.6bb418"]]},{"id":"9468a86a.065a68","type":"server-state-changed","z":"a034d22a.358ea","name":"Rafa arrived home","server":"d1ece7c4.8b5908","entityidfilter":"person.rafael","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":660,"wires":[[],["554f1e59.528ef"]]},{"id":"6a3ba1db.7e587","type":"trigger-state","z":"bfacab42.545938","name":"Livingroom button ON","server":"d1ece7c4.8b5908","entityid":"switch.livingroom_button","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"i02uaq6pnt","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"ujrm4476rg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":60,"wires":[["3f68aec3.1b4d62","67937892.a4b9c8"],[]]},{"id":"c7570325.1607e","type":"trigger-state","z":"bfacab42.545938","name":"Livingroom button OFF","server":"d1ece7c4.8b5908","entityid":"switch.livingroom_button","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"qynhl3okhm8","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"h3uu4gy8buk","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":220,"wires":[["bc90a3ba.419d8","3bd5a82.83f3258","9c125331.7bb6a","dbc74b6b.14ee88","93ced171.c1a9c"],[]]},{"id":"c06ae7b0.bc9228","type":"server-state-changed","z":"a034d22a.358ea","name":"Victor arrived office","server":"d1ece7c4.8b5908","entityidfilter":"person.victor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Oficina","halt_if_type":"","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":760,"wires":[["5f7dfd7b.1d6ec4"],["1b81026a.33573e"]]},{"id":"1b81026a.33573e","type":"debug","z":"a034d22a.358ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":800,"wires":[]},{"id":"5f7dfd7b.1d6ec4","type":"debug","z":"a034d22a.358ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":760,"wires":[]},{"id":"3556c82b.d04118","type":"change","z":"b54516ff.5c8848","name":"Notification: Not working","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Trabajo\",\"message\":\"Sal de Woffu\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["6dc0c5df.ac58fc"]]},{"id":"6dc0c5df.ac58fc","type":"link out","z":"b54516ff.5c8848","name":"Notify All","links":["24db9ba0.a74844"],"x":595,"y":660,"wires":[]},{"id":"d2bd5714.843008","type":"server-state-changed","z":"b54516ff.5c8848","name":"Rafa is working","server":"d1ece7c4.8b5908","entityidfilter":"switch.rafa_pc_work","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":700,"wires":[["3556c82b.d04118"],["6ebc833d.4020bc"]]},{"id":"6ebc833d.4020bc","type":"change","z":"b54516ff.5c8848","name":"Notification: Working","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Trabajo\",\"message\":\"Pica en Woffu\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["c9a3901a.0c989"]]},{"id":"c9a3901a.0c989","type":"link out","z":"b54516ff.5c8848","name":"Notify All","links":["24db9ba0.a74844"],"x":595,"y":740,"wires":[]},{"id":"b34c40f9.9531c","type":"cast-to-client","z":"b54516ff.5c8848","name":"Salon","url":"","contentType":"","message":"","language":"","ip":"192.168.1.120","port":"","volume":"","x":1070,"y":1000,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"479131bb.a65de","type":"cast-to-client","z":"b54516ff.5c8848","name":"Cocina","url":"","contentType":"","message":"","language":"","ip":"192.168.1.176","port":"","volume":"","x":1070,"y":1060,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"ae4c6ab5.7476a8","type":"cast-to-client","z":"b54516ff.5c8848","name":"Rafa","url":"","contentType":"","message":"","language":"","ip":"192.168.1.192","port":"","volume":"","x":1070,"y":943,"wires":[[]],"icon":"node-red-contrib-cast/google-home-mini1.svg"},{"id":"ffd0c62c.1c02f8","type":"api-current-state","z":"b54516ff.5c8848","name":"Location","server":"d1ece7c4.8b5908","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.google_maps_110963040061122904230","state_type":"str","override_payload":true,"override_data":true,"x":360,"y":1000,"wires":[["5565036a.1809cc"]]},{"id":"21634ee2.de31c2","type":"inject","z":"b54516ff.5c8848","name":"Every Minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1000,"wires":[["ffd0c62c.1c02f8"]]},{"id":"c0b08a3c.462ab8","type":"change","z":"b54516ff.5c8848","name":"Format Message","rules":[{"t":"set","p":"message","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"language","pt":"msg","to":"Es-es","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1000,"wires":[["b34c40f9.9531c","ae4c6ab5.7476a8","479131bb.a65de"]]},{"id":"5565036a.1809cc","type":"function","z":"b54516ff.5c8848","name":"Out of work?","func":"context.location = context.location || \"na\";\n\nif (context.location === 'work') {\n    if(msg.payload === 'away'){\n        return {topic: 'result', payload: 'vuelta a casa'};\n    }  \n}\nelse{\n    context.location = msg.payload;\n}\nreturn {topic: 'result', payload: context.location};","outputs":1,"noerr":0,"x":570,"y":1000,"wires":[["4adb53be.d244cc"]]},{"id":"4adb53be.d244cc","type":"debug","z":"b54516ff.5c8848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":880,"wires":[]},{"id":"48dfd4af.7a378c","type":"comment","z":"b54516ff.5c8848","name":"POC:","info":"","x":110,"y":940,"wires":[]}]