node-red/flows.json
[{"id":"4cdd17c8.2ccd28","type":"tab","label":"General","disabled":false,"info":""},{"id":"bfacab42.545938","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"ad07b2fb.47307","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"d6785610.6eccd8","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"a034d22a.358ea","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"74bf0ce7.c1c834","type":"tab","label":"Laboratory","disabled":false,"info":""},{"id":"cd832e6d.ae186","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"68113115.e69b3","type":"subflow","name":"events: button_pressed","info":"Outputs button_pressed events types sent from an ESPHome device","category":"home_assistant","in":[],"out":[{"x":820,"y":80,"wires":[{"id":"e5de5acf.86b828","port":0}]},{"x":820,"y":80,"wires":[{"id":"e5de5acf.86b828","port":1}]},{"x":820,"y":80,"wires":[{"id":"e5de5acf.86b828","port":2}]},{"x":820,"y":80,"wires":[{"id":"e5de5acf.86b828","port":3}]}],"env":[{"name":"Source","type":"str","value":"$hostname","ui":{"icon":"font-awesome/fa-tag","type":"input","opts":{"types":["str"]},"label":{}}}],"color":"#DDAA99","icon":"font-awesome/fa-arrow-circle-o-right","status":{"x":480,"y":200,"wires":[{"id":"ca5bf7a0.4545d8","port":0}]}},{"id":"db9a2a5b.b30b58","type":"subflow","name":"Ensure light brightness","info":"Ensure that a given light entity brigtness value is between min and max values.","category":"home_assistant","in":[{"x":20,"y":140,"wires":[{"id":"5bb95357.84bcfc"}]}],"out":[{"x":2000,"y":280,"wires":[{"id":"47fe1369.9fb0bc","port":0},{"id":"3db2e590.bbcb1a","port":0},{"id":"dd15be4d.c2e5","port":1},{"id":"e75e0c2e.7276f","port":1}]}],"env":[{"name":"Minimum","type":"num","value":"","ui":{"type":"spinner","opts":{"min":1,"max":255}}},{"name":"Maximum","type":"num","value":"","ui":{"type":"spinner","opts":{"min":1,"max":255}}}],"color":"#DDAA99","icon":"font-awesome/fa-lightbulb-o","status":{"x":1400,"y":220,"wires":[{"id":"bdf41caf.2102a","port":0},{"id":"4a94a6bd.849c58","port":0},{"id":"8a7a300b.9f658","port":0},{"id":"929e0be6.626ea8","port":0}]}},{"id":"751c728c.a54acc","type":"subflow","name":"Supervisor API","info":"Sends Home Assistant Supervisor API requests. Only works when using Node-RED addon for Home Assistant.","category":"home_assistant","in":[{"x":40,"y":80,"wires":[{"id":"45596d8f.c209d4"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"be5d6288.38359","port":0}]}],"env":[{"name":"Method","type":"str","value":"get","ui":{"icon":"font-awesome/fa-tasks","type":"select","opts":{"opts":[{"l":{"en-US":"GET"},"v":"get"},{"l":{"en-US":"POST"},"v":"post"},{"l":{"en-US":"PUT"},"v":"put"},{"l":{"en-US":"PATCH"},"v":"patch"},{"l":{"en-US":"DELETE"},"v":"delete"},{"l":{"en-US":"- set by msg.payload -"},"v":""}]}}},{"name":"Path","type":"str","value":"supervisor/ping","ui":{"icon":"font-awesome/fa-globe","type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"font-awesome/fa-paper-plane","status":{"x":440,"y":200,"wires":[{"id":"e0a0d63.5bcff28","port":0}]}},{"id":"c44a27a2.a58368","type":"subflow","name":"events: rf_code_received","info":"Outputs button_pressed events types sent from an ESPHome device","category":"home_assistant","in":[],"out":[{"x":620,"y":80,"wires":[{"id":"70907165.567e","port":0}]}],"env":[{"name":"Code","type":"str","value":"$hostname","ui":{"icon":"font-awesome/fa-tag","type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-arrow-circle-o-right","status":{"x":480,"y":200,"wires":[{"id":"81ccc2cb.5d098","port":0}]}},{"id":"d1ece7c4.8b5908","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"aaa9c49b.8c89c8","type":"mqtt-broker","name":"Mosquitto","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"tele/node_red/LWT","birthQos":"1","birthRetain":"true","birthPayload":"Online","closeTopic":"tele/node_red/LWT","closeQos":"1","closeRetain":"true","closePayload":"Offline","willTopic":"tele/node_red/LWT","willQos":"1","willRetain":"true","willPayload":"Offline"},{"id":"5cc197a4.b55278","type":"websocket-listener","path":"/node/help","wholemsg":"false"},{"id":"d734f510.2e7238","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5b49c872.638b68","type":"castv2-connection","name":"Sal贸n","target":"Sal贸n","host":"192.168.1.120","port":"8009"},{"id":"872545a4.1c1488","type":"castv2-connection","name":"Despacho","target":"Despacho","host":"192.168.1.131","port":"8009"},{"id":"7f75a4cb.5b3d0c","type":"castv2-connection","name":"Habitaci贸n","target":"Habitaci贸n","host":"192.168.1.116","port":"8009"},{"id":"63c032d.0892dcc","type":"server-events","z":"68113115.e69b3","name":"Button Pressed","server":"d1ece7c4.8b5908","version":1,"event_type":"esphome.button_pressed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":80,"wires":[["845453b5.44b61"]]},{"id":"845453b5.44b61","type":"switch","z":"68113115.e69b3","name":"livingroom_touch event","property":"payload.event.source","propertyType":"msg","rules":[{"t":"eq","v":"Source","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":80,"wires":[["e5de5acf.86b828"]]},{"id":"e5de5acf.86b828","type":"switch","z":"68113115.e69b3","name":"Pressed type","property":"payload.event.type","propertyType":"msg","rules":[{"t":"eq","v":"single_short","vt":"str"},{"t":"eq","v":"single_long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":670,"y":80,"wires":[[],[],[],[]]},{"id":"ca5bf7a0.4545d8","type":"status","z":"68113115.e69b3","name":"","scope":null,"x":340,"y":200,"wires":[[]]},{"id":"f6ffde81.e7eac","type":"api-current-state","z":"db9a2a5b.b30b58","name":"Get state","server":"d1ece7c4.8b5908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{flow.entity_id}}","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":140,"wires":[["2d5bad2e.f57fa2","d86e33fe.54f2"]]},{"id":"9ef81570.359d68","type":"switch","z":"db9a2a5b.b30b58","name":"Defined?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1040,"y":140,"wires":[["b479089.202c0f8"],["8a7a300b.9f658"]]},{"id":"5bb95357.84bcfc","type":"switch","z":"db9a2a5b.b30b58","name":"","property":"payload.data.entity_id","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":140,"wires":[["2f2ad7d9.44e0e8"],["bdf41caf.2102a"]]},{"id":"bdf41caf.2102a","type":"change","z":"db9a2a5b.b30b58","name":"entity not found","rules":[{"t":"set","p":"payload","pt":"msg","to":"Entity Id not found. (Override payload)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[[]]},{"id":"4a94a6bd.849c58","type":"status","z":"db9a2a5b.b30b58","name":"","scope":null,"x":1280,"y":260,"wires":[[]]},{"id":"8a7a300b.9f658","type":"change","z":"db9a2a5b.b30b58","name":"brightness not found","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brightness attribute not found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":180,"wires":[[]]},{"id":"2f2ad7d9.44e0e8","type":"change","z":"db9a2a5b.b30b58","name":"","rules":[{"t":"set","p":"entity_id","pt":"flow","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["bcc30cf5.71661"]]},{"id":"47fe1369.9fb0bc","type":"api-call-service","z":"db9a2a5b.b30b58","name":"Set Min Brightness","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{flow.entity_id}}","data":"{    \"brightness\": {{minimum}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1710,"y":80,"wires":[["94c17010.2b582"]]},{"id":"3db2e590.bbcb1a","type":"api-call-service","z":"db9a2a5b.b30b58","name":"Set Max Brightness","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{flow.entity_id}}","data":"{    \"brightness\": {{maximum}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":2070,"y":180,"wires":[[]]},{"id":"b479089.202c0f8","type":"switch","z":"db9a2a5b.b30b58","name":"Minimum defined?","property":"Minimum","propertyType":"env","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1230,"y":100,"wires":[["dccae112.cc0c4","e7f7def5.18ac1"],["dd15be4d.c2e5","97005831.5432a8"]]},{"id":"dccae112.cc0c4","type":"switch","z":"db9a2a5b.b30b58","name":"< Min?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"minimum","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1450,"y":100,"wires":[["47fe1369.9fb0bc","33653fd7.fc867"],["dd15be4d.c2e5","abdf081f.c89c78"]]},{"id":"2d5bad2e.f57fa2","type":"change","z":"db9a2a5b.b30b58","name":"Get brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.brightness","tot":"msg"},{"t":"set","p":"minimum","pt":"msg","to":"Minimum","tot":"env"},{"t":"set","p":"maximum","pt":"msg","to":"Maximum","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["9ef81570.359d68","d86e33fe.54f2"]]},{"id":"dd15be4d.c2e5","type":"switch","z":"db9a2a5b.b30b58","name":"Maximum defined?","property":"Maximum","propertyType":"env","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1670,"y":180,"wires":[["e75e0c2e.7276f","38fe3d41.4f8fb2"],[]]},{"id":"e75e0c2e.7276f","type":"switch","z":"db9a2a5b.b30b58","name":"> Max?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"maximum","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1880,"y":180,"wires":[["3db2e590.bbcb1a","c6f09fc5.214e9"],["b045e239.45acb"]]},{"id":"e7f7def5.18ac1","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":40,"wires":[]},{"id":"97005831.5432a8","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1544,"y":276,"wires":[]},{"id":"33653fd7.fc867","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":20,"wires":[]},{"id":"abdf081f.c89c78","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":380,"wires":[]},{"id":"38fe3d41.4f8fb2","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1970,"y":100,"wires":[]},{"id":"94c17010.2b582","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1970,"y":40,"wires":[]},{"id":"b045e239.45acb","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"maximum","targetType":"msg","x":2060,"y":380,"wires":[]},{"id":"c6f09fc5.214e9","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2130,"y":140,"wires":[]},{"id":"9b152412.9708c8","type":"ha-wait-until","z":"db9a2a5b.b30b58","name":"Wait ON and get state","server":"d1ece7c4.8b5908","outputs":2,"entityId":"{{flow.entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"1000","timeoutType":"num","timeoutUnits":"milliseconds","entityLocation":"data","entityLocationType":"msg","checkCurrentState":true,"blockInputOverrides":true,"x":620,"y":40,"wires":[["2d5bad2e.f57fa2"],["929e0be6.626ea8"]]},{"id":"d86e33fe.54f2","type":"debug","z":"db9a2a5b.b30b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":60,"wires":[]},{"id":"929e0be6.626ea8","type":"change","z":"db9a2a5b.b30b58","name":"light is off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Light is off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":180,"wires":[[]]},{"id":"bcc30cf5.71661","type":"delay","z":"db9a2a5b.b30b58","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":510,"y":140,"wires":[["f6ffde81.e7eac"]]},{"id":"be5d6288.38359","type":"http request","z":"751c728c.a54acc","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":80,"wires":[[]]},{"id":"45596d8f.c209d4","type":"function","z":"751c728c.a54acc","name":"Prepare request","func":"var supervisorToken = env.get(\"SUPERVISOR_TOKEN\");\nvar urlPath = env.get(\"Path\");\nvar method = env.get(\"Method\");\n\nmsg.url = \"http://supervisor/\" + urlPath;\nmsg.headers = {\n    Authorization: \"Bearer \"+supervisorToken\n}\n\nif (method)\n{\n    msg.method = method;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[["be5d6288.38359","1337829c.16ba0d"]]},{"id":"e0a0d63.5bcff28","type":"status","z":"751c728c.a54acc","name":"","scope":null,"x":320,"y":200,"wires":[[]]},{"id":"1337829c.16ba0d","type":"debug","z":"751c728c.a54acc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"98d44cdc.6d436","type":"server-events","z":"c44a27a2.a58368","name":"RF Code received","server":"d1ece7c4.8b5908","version":1,"event_type":"esphome.rf_code_received","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":210,"y":80,"wires":[["70907165.567e"]]},{"id":"70907165.567e","type":"switch","z":"c44a27a2.a58368","name":"livingroom_touch event","property":"payload.event.code","propertyType":"msg","rules":[{"t":"eq","v":"Code","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":80,"wires":[[]]},{"id":"81ccc2cb.5d098","type":"status","z":"c44a27a2.a58368","name":"","scope":null,"x":340,"y":200,"wires":[[]]},{"id":"a40605c5.978218","type":"inject","z":"4cdd17c8.2ccd28","name":"Every Minute","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["6d630c83.736774"]]},{"id":"7e5892d8.63c38c","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Turn on washing machine","server":"d1ece7c4.8b5908","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.washing_machine","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1190,"y":40,"wires":[[]]},{"id":"7f485854.10e7c8","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Clear is active","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.programacion_activa","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1160,"y":100,"wires":[[]]},{"id":"a6c00222.db104","type":"server-state-changed","z":"4cdd17c8.2ccd28","name":"Watering ON","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.watering","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":180,"wires":[["8a0e7d38.9feae"],[]]},{"id":"8a0e7d38.9feae","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Is rainy?","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"rainy","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.home_weather","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":180,"wires":[["116bb57e.cec0eb"],[]]},{"id":"116bb57e.cec0eb","type":"switch","z":"4cdd17c8.2ccd28","name":"Is rainy?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rainy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":180,"wires":[["8475ba38.51f468"]]},{"id":"8475ba38.51f468","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"Turn OFF watering","server":"d1ece7c4.8b5908","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.watering","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":630,"y":180,"wires":[[]]},{"id":"9f95a939.b31558","type":"switch","z":"4cdd17c8.2ccd28","name":"Is time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"current_time","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":80,"wires":[["7e5892d8.63c38c","7f485854.10e7c8"]]},{"id":"239a0dbe.dae942","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Programmed Hour","server":"d1ece7c4.8b5908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.hora_comienzo_lavadora","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":80,"wires":[["9f95a939.b31558"]]},{"id":"b19dc244.95f23","type":"moment","z":"4cdd17c8.2ccd28","name":"Current time","topic":"current","input":"payload","inputType":"msg","inTz":"Europe/Madrid","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:00","locale":"C","output":"current_time","outputType":"msg","outTz":"Europe/Madrid","x":530,"y":80,"wires":[["239a0dbe.dae942"]]},{"id":"6d630c83.736774","type":"api-current-state","z":"4cdd17c8.2ccd28","name":"Prog is Active","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.programacion_activa","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":340,"y":80,"wires":[["b19dc244.95f23"],[]]},{"id":"9ab037bc.aefaf8","type":"looptimer","z":"4cdd17c8.2ccd28","duration":"0.02","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":150,"y":340,"wires":[["33b73dc8.402242"],[]]},{"id":"33b73dc8.402242","type":"counter","z":"4cdd17c8.2ccd28","name":"","init":"0","step":"1","lower":"0","upper":"100","mode":"increment","outputs":2,"x":290,"y":440,"wires":[["d003af13.fd6b3"],[]]},{"id":"f0ddf98f.f3a6a8","type":"inject","z":"4cdd17c8.2ccd28","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":460,"wires":[["9ab037bc.aefaf8"]]},{"id":"d003af13.fd6b3","type":"api-call-service","z":"4cdd17c8.2ccd28","name":"","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lampara_pie","data":"{    \"brightness_pct\": {{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":540,"y":440,"wires":[["711d1c58.9e85c4"]]},{"id":"711d1c58.9e85c4","type":"debug","z":"4cdd17c8.2ccd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":500,"wires":[]},{"id":"68811ec1.f525","type":"inject","z":"4cdd17c8.2ccd28","name":"reset","props":[{"p":"reset","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":600,"wires":[["33b73dc8.402242"]]},{"id":"119e82f2.4d00bd","type":"inject","z":"4cdd17c8.2ccd28","name":"increment","props":[{"p":"increment","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":660,"wires":[["33b73dc8.402242"]]},{"id":"a5ac5821.ad8668","type":"inject","z":"4cdd17c8.2ccd28","name":"decrement","props":[{"p":"decrement","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":720,"wires":[["33b73dc8.402242"]]},{"id":"28f9b034.a8025","type":"inject","z":"4cdd17c8.2ccd28","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":90,"y":500,"wires":[["9ab037bc.aefaf8"]]},{"id":"1abb48a.e95f5b7","type":"inject","z":"4cdd17c8.2ccd28","name":"step","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":90,"y":540,"wires":[["9ab037bc.aefaf8","33b73dc8.402242"]]},{"id":"3f68aec3.1b4d62","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Desktop Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\" : \"switch.desktop_lamp\" }","mergecontext":"","x":1050,"y":60,"wires":[[]]},{"id":"67937892.a4b9c8","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Sofa Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\" : \"switch.sofa_lamp\" }","mergecontext":"","x":1040,"y":109,"wires":[[]]},{"id":"bc90a3ba.419d8","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Desktop Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.desktop_lamp\" }","mergecontext":"","x":1050,"y":173,"wires":[[]]},{"id":"3bd5a82.83f3258","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Sofa Lamp","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.sofa_lamp\" }","mergecontext":"","x":1040,"y":221,"wires":[[]]},{"id":"9c125331.7bb6a","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF AC","server":"d1ece7c4.8b5908","version":"1","debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.livingroom_climate","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1010,"y":317,"wires":[[]]},{"id":"dbc74b6b.14ee88","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Heater","server":"d1ece7c4.8b5908","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.livingroom_heater\" }","mergecontext":"","x":1030,"y":366,"wires":[[]]},{"id":"93ced171.c1a9c","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Ceiling Fan","server":"d1ece7c4.8b5908","service_domain":"fan","service":"turn_off","data":"{ \"entity_id\" : \"fan.livingroom_fan\" }","mergecontext":"","x":1040,"y":415,"wires":[[]]},{"id":"80248d6f.acd87","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Ceiling Fan","server":"d1ece7c4.8b5908","version":"1","service_domain":"fan","service":"toggle","entityId":"fan.livingroom_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":610,"y":245,"wires":[[]]},{"id":"5d8a27db.6e4958","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Table Lamp","server":"d1ece7c4.8b5908","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.livingroom_table_light\"}","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1040,"y":269,"wires":[[]]},{"id":"f50cee77.b68d","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Table Lamp","server":"d1ece7c4.8b5908","version":"1","service_domain":"light","service":"toggle","entityId":"light.livingroom_table_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":610,"y":305,"wires":[[]]},{"id":"aec41d18.8859b","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Ceiling Fan Lamp","server":"d1ece7c4.8b5908","version":"1","service_domain":"switch","service":"toggle","entityId":"switch.livingroom_fan_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":630,"y":365,"wires":[[]]},{"id":"3c88fb23.539b64","type":"server-state-changed","z":"bfacab42.545938","name":"Entry door OPEN","server":"d1ece7c4.8b5908","version":1,"entityidfilter":"binary_sensor.entry_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1080,"wires":[["3a380d2a.4b9542"],[]]},{"id":"4bfe097c.fe6db8","type":"api-current-state","z":"bfacab42.545938","name":"Deskto lamp OFF","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.desktop_lamp","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":1080,"wires":[["eb80bb7c.0050b8"],[]]},{"id":"eb80bb7c.0050b8","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Desktop Lamp","server":"d1ece7c4.8b5908","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.desktop_lamp","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":770,"y":1080,"wires":[["3486ded.7292322"]]},{"id":"3486ded.7292322","type":"delay","z":"bfacab42.545938","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":1080,"wires":[["8c5d9616.ee6b88"]]},{"id":"8c5d9616.ee6b88","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Desktop Lamp","server":"d1ece7c4.8b5908","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.desktop_lamp","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1190,"y":1080,"wires":[[]]},{"id":"3a380d2a.4b9542","type":"api-current-state","z":"bfacab42.545938","name":"Sun is down","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":1080,"wires":[["4bfe097c.fe6db8"],[]]},{"id":"ea63e99f.1af278","type":"api-current-state","z":"bfacab42.545938","name":"Led indicator OFF","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.livingroom_led_indicator","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","x":610,"y":185,"wires":[["3f68aec3.1b4d62","67937892.a4b9c8"],["bc90a3ba.419d8","3bd5a82.83f3258","5d8a27db.6e4958","9c125331.7bb6a","dbc74b6b.14ee88","93ced171.c1a9c"]]},{"id":"413f09ee.a26f38","type":"subflow:68113115.e69b3","z":"bfacab42.545938","name":"Livingroom_touch button pressed","env":[{"name":"Source","value":"livingroom_touch","type":"str"}],"x":190,"y":265,"wires":[["ea63e99f.1af278"],["80248d6f.acd87"],["f50cee77.b68d"],["aec41d18.8859b"]]},{"id":"ab586126.d19ee","type":"debug","z":"bfacab42.545938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"is_volume_muted","targetType":"msg","x":620,"y":1220,"wires":[]},{"id":"3116d102.4d1e2e","type":"server-state-changed","z":"bfacab42.545938","name":"TV State changed","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.victor_tv","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":150,"y":1160,"wires":[["d2866a5.ec9f698"]]},{"id":"d2866a5.ec9f698","type":"change","z":"bfacab42.545938","name":"Read Volume","rules":[{"t":"set","p":"is_volume_muted","pt":"msg","to":"data.new_state.attributes.is_volume_muted","tot":"msg"},{"t":"set","p":"volume_level_pct","pt":"msg","to":"data.new_state.attributes.volume_level * 100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1160,"wires":[["ab586126.d19ee","e6755a62.ca4468","47081c48.df7a84"]]},{"id":"47081c48.df7a84","type":"switch","z":"bfacab42.545938","name":"Is Muted","property":"is_volume_muted","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":580,"y":1160,"wires":[["56ea8c29.bcb674"],["45d3a5a.f38a65c"]]},{"id":"56ea8c29.bcb674","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF Home Cinema","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.volume","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1010,"y":1140,"wires":[[]]},{"id":"6bede233.c5912c","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Home Cinema","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.volume","data":"{ \"brightness_pct\": {{volume_level_pct}} }","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1010,"y":1200,"wires":[[]]},{"id":"e6755a62.ca4468","type":"debug","z":"bfacab42.545938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"volume_level_pct","targetType":"msg","x":620,"y":1280,"wires":[]},{"id":"45d3a5a.f38a65c","type":"switch","z":"bfacab42.545938","name":"Volume defined?","property":"volume_level_pct","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":1180,"wires":[["8b4c3355.d6eb"],["56ea8c29.bcb674"]]},{"id":"7fe0c872.3ff318","type":"subflow:68113115.e69b3","z":"bfacab42.545938","name":"wall_switch button 2 pressed","env":[{"name":"Source","value":"livingroom_switch button_2","type":"str"}],"x":180,"y":680,"wires":[[],["a3b8e98f.f10c28"],[],[]]},{"id":"dbcfe125.8488","type":"subflow:68113115.e69b3","z":"bfacab42.545938","name":"wall_switch button 3 pressed","env":[{"name":"Source","value":"livingroom_switch button_3","type":"str"}],"x":180,"y":800,"wires":[["1289ac00.937e34"],["bd22593b.399f68"],[],[]]},{"id":"a3b8e98f.f10c28","type":"api-current-state","z":"bfacab42.545938","name":"AC is OFF","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.livingroom_climate","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":700,"wires":[["f97587ca.e6fb28"],["7021ae56.69b8e"]]},{"id":"f97587ca.e6fb28","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON AC","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.livingroom_climate","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":750,"y":680,"wires":[[]]},{"id":"7021ae56.69b8e","type":"api-call-service","z":"bfacab42.545938","name":"Turn OFF AC","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.livingroom_climate","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":750,"y":720,"wires":[[]]},{"id":"507887b3.095ca8","type":"subflow:68113115.e69b3","z":"bfacab42.545938","name":"wall_switch button 1 pressed","env":[{"name":"Source","value":"livingroom_switch button_1","type":"str"}],"x":180,"y":560,"wires":[["9635f673.a670c8"],["b2038c6d.cd23a"],[],[]]},{"id":"bd22593b.399f68","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Ceiling Fan","server":"d1ece7c4.8b5908","version":"1","service_domain":"fan","service":"toggle","entityId":"fan.livingroom_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":530,"y":820,"wires":[[]]},{"id":"1289ac00.937e34","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Ceiling Fan Lamp","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"script","service":"toggle","entityId":"script.1591942821857","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":550,"y":760,"wires":[[]]},{"id":"9635f673.a670c8","type":"api-call-service","z":"bfacab42.545938","name":"Toggle Sofa Lamp","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lampara_pie","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":530,"y":520,"wires":[[]]},{"id":"b2038c6d.cd23a","type":"api-call-service","z":"bfacab42.545938","name":"Toggle TV","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"media_player","service":"toggle","entityId":"media_player.victor_tv","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":500,"y":580,"wires":[[]]},{"id":"8b4c3355.d6eb","type":"api-call-service","z":"bfacab42.545938","name":"Turn ON Home Cinema","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.volume","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1010,"y":1260,"wires":[[]]},{"id":"4e1f3e48.7ece1","type":"api-call-service","z":"ad07b2fb.47307","name":"Night Light ON","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_plug_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":320,"y":200,"wires":[["f230b8d1.026ef8"]]},{"id":"16068dd9.a78e52","type":"ha-wait-until","z":"ad07b2fb.47307","name":"Wait until door open","server":"d1ece7c4.8b5908","outputs":2,"entityId":"binary_sensor.bathroom_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":840,"y":200,"wires":[["b26bf088.a4baa","e36acb98.5f43f8"],["240e8139.091a5e","f87673ab.58925"]]},{"id":"240e8139.091a5e","type":"api-call-service","z":"ad07b2fb.47307","name":"Night Light OFF","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_plug_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1380,"y":200,"wires":[["440fc680.52db08"]]},{"id":"e94de771.15ca68","type":"delay","z":"ad07b2fb.47307","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1200,"y":140,"wires":[["240e8139.091a5e"]]},{"id":"440fc680.52db08","type":"debug","z":"ad07b2fb.47307","name":"Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":200,"wires":[]},{"id":"b26bf088.a4baa","type":"debug","z":"ad07b2fb.47307","name":"turning off after delay (door open)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":260,"wires":[]},{"id":"f87673ab.58925","type":"debug","z":"ad07b2fb.47307","name":"turning off (door closed but timeout)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":300,"wires":[]},{"id":"b5fd227a.76759","type":"change","z":"ad07b2fb.47307","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":120,"wires":[["e94de771.15ca68","e3cf4cb6.2b717"]]},{"id":"e36acb98.5f43f8","type":"change","z":"ad07b2fb.47307","name":"Start","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":160,"wires":[["e94de771.15ca68"]]},{"id":"cb4fa379.8cc04","type":"debug","z":"ad07b2fb.47307","name":"turning on (Motion detected)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":140,"wires":[]},{"id":"e3cf4cb6.2b717","type":"debug","z":"ad07b2fb.47307","name":"Reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":100,"wires":[]},{"id":"b0a66d6e.f2e3b","type":"server-state-changed","z":"ad07b2fb.47307","name":"Motion detected","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":200,"wires":[["cb4fa379.8cc04"],[]]},{"id":"9ac7e16a.1897c","type":"server-state-changed","z":"ad07b2fb.47307","name":"Door opened","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":300,"wires":[[],[]]},{"id":"95145b8f.1958a8","type":"interval-length","z":"ad07b2fb.47307","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"12","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"secs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"<12 secs","x":320,"y":300,"wires":[[],[]]},{"id":"f230b8d1.026ef8","type":"subflow:db9a2a5b.b30b58","z":"ad07b2fb.47307","name":"","env":[{"name":"Minimum","value":"128","type":"num"}],"x":560,"y":200,"wires":[["b5fd227a.76759","16068dd9.a78e52"]]},{"id":"c587fe43.24f6a","type":"server-state-changed","z":"ad07b2fb.47307","name":"Motion detected","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["648676c8.ea56f8"],[]]},{"id":"815e8001.06991","type":"api-call-service","z":"ad07b2fb.47307","name":"Night Light ON","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_plug_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":480,"y":460,"wires":[["d22fd3a1.a6af4"]]},{"id":"648676c8.ea56f8","type":"time-range-switch","z":"ad07b2fb.47307","name":"","lat":"","lon":"","startTime":"23:00","endTime":"10:00","startOffset":0,"endOffset":0,"x":290,"y":460,"wires":[["815e8001.06991"],[]]},{"id":"396de17a.2759be","type":"change","z":"ad07b2fb.47307","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":440,"wires":[["a9a11f0.30cb1e","c46a3cbc.202b5"]]},{"id":"c46a3cbc.202b5","type":"change","z":"ad07b2fb.47307","name":"Start","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":480,"wires":[["a9a11f0.30cb1e"]]},{"id":"a9a11f0.30cb1e","type":"delay","z":"ad07b2fb.47307","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1100,"y":460,"wires":[["5adf88ac.520c28"]]},{"id":"5adf88ac.520c28","type":"api-call-service","z":"ad07b2fb.47307","name":"Night Light OFF","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_plug_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1280,"y":460,"wires":[["8634e3cb.5c05e"]]},{"id":"862c5b74.b82b88","type":"inject","z":"ad07b2fb.47307","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":520,"wires":[["815e8001.06991"]]},{"id":"8634e3cb.5c05e","type":"debug","z":"ad07b2fb.47307","name":"Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":460,"wires":[]},{"id":"d22fd3a1.a6af4","type":"subflow:db9a2a5b.b30b58","z":"ad07b2fb.47307","name":"","env":[{"name":"Minimum","value":"128","type":"num"}],"x":700,"y":460,"wires":[["396de17a.2759be"]]},{"id":"cfdc6123.a5d14","type":"inject","z":"ad07b2fb.47307","name":"Everyday at 8:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":600,"wires":[["35749938.3a8446"]]},{"id":"3aecb9de.a24ed6","type":"api-call-service","z":"ad07b2fb.47307","name":"Bathroom plug ON","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bathroom_plug","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":770,"y":600,"wires":[[]]},{"id":"35749938.3a8446","type":"api-current-state","z":"ad07b2fb.47307","name":"Victor at Home?","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.victor","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":600,"wires":[["3aecb9de.a24ed6"],["2c44fc88.11bc84"]]},{"id":"a52226f6.06c578","type":"inject","z":"ad07b2fb.47307","name":"Everyday at 23:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":660,"wires":[["20f3495d.efd846"]]},{"id":"20f3495d.efd846","type":"api-call-service","z":"ad07b2fb.47307","name":"Bathroom plug OFF","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bathroom_plug","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":350,"y":660,"wires":[[]]},{"id":"2c44fc88.11bc84","type":"api-current-state","z":"ad07b2fb.47307","name":"Aurora at Home?","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.aurora","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":620,"wires":[["3aecb9de.a24ed6"],[]]},{"id":"bed0d743.530dc8","type":"api-call-service","z":"d6785610.6eccd8","name":"Main Light ON","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_main_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"main_light_state","output_location_type":"flow","x":780,"y":100,"wires":[["179a54fd.66974b"]]},{"id":"b2588529.7d8738","type":"api-call-service","z":"d6785610.6eccd8","name":"Main Light OFF","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_main_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"main_light_state","output_location_type":"flow","x":1320,"y":100,"wires":[[]]},{"id":"dbfdfde3.99881","type":"delay","z":"d6785610.6eccd8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1140,"y":100,"wires":[["b2588529.7d8738"]]},{"id":"179a54fd.66974b","type":"change","z":"d6785610.6eccd8","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":80,"wires":[["dbfdfde3.99881","dae9542d.424ca8"]]},{"id":"dae9542d.424ca8","type":"change","z":"d6785610.6eccd8","name":"Start","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":140,"wires":[["dbfdfde3.99881"]]},{"id":"75874b7a.b073d4","type":"server-state-changed","z":"d6785610.6eccd8","name":"Motion detected","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.extractor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":100,"wires":[[],[]]},{"id":"fe12714a.68682","type":"api-current-state","z":"d6785610.6eccd8","name":"Main Light is OFF?","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"switch.kitchen_main_light","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":100,"wires":[["bed0d743.530dc8"],["ffe26b71.e101a8"]]},{"id":"ffe26b71.e101a8","type":"switch","z":"d6785610.6eccd8","name":"Is Alredy running?","property":"main_light_state.service","propertyType":"flow","rules":[{"t":"eq","v":"turn_on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":140,"wires":[["bed0d743.530dc8"]]},{"id":"7c443e3d.943a7","type":"server-state-changed","z":"d6785610.6eccd8","name":"Main Light OFF","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kitchen_main_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":200,"wires":[["a4f0a2e0.1dfb5"],[]]},{"id":"a4f0a2e0.1dfb5","type":"change","z":"d6785610.6eccd8","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":200,"wires":[["dbfdfde3.99881"]]},{"id":"723a2ed2.0021d","type":"server-state-changed","z":"d6785610.6eccd8","name":"Cooktop ON","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.cooktop_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"500","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"x":110,"y":320,"wires":[["8573bca8.88874"],[]]},{"id":"1ef26d2d.291293","type":"api-call-service","z":"d6785610.6eccd8","name":"Turn ON extractor","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.extractor","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":490,"y":320,"wires":[["93990b4f.9e4eb8","3840d85b.f55f08"]]},{"id":"a194473b.389c18","type":"api-call-service","z":"d6785610.6eccd8","name":"Turn OFF extractor","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.extractor","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1270,"y":340,"wires":[[]]},{"id":"93990b4f.9e4eb8","type":"ha-wait-until","z":"d6785610.6eccd8","name":"Wait until cooktop ON","server":"d1ece7c4.8b5908","outputs":2,"entityId":"sensor.cooktop_power","entityIdFilterType":"exact","property":"state","comparator":"gt","value":"500","valueType":"num","timeout":"2","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":740,"y":340,"wires":[["dec4fadb.5fafd8"],["a194473b.389c18"]]},{"id":"dec4fadb.5fafd8","type":"change","z":"d6785610.6eccd8","name":"Start","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["cf7ccc54.21be6"]]},{"id":"3840d85b.f55f08","type":"change","z":"d6785610.6eccd8","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":260,"wires":[["cf7ccc54.21be6"]]},{"id":"cf7ccc54.21be6","type":"delay","z":"d6785610.6eccd8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1080,"y":280,"wires":[["a194473b.389c18"]]},{"id":"8573bca8.88874","type":"time-range-switch","z":"d6785610.6eccd8","name":"","lat":"37.39221","lon":"-5.97269","startTime":"13:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":290,"y":320,"wires":[["1ef26d2d.291293"],[]]},{"id":"47fc25c5.72d3ac","type":"mqtt in","z":"a034d22a.358ea","name":"Dash Victor Brabantia","topic":"cmnd/victor_brabantia/POWER","qos":"2","broker":"aaa9c49b.8c89c8","inputs":0,"x":180,"y":200,"wires":[["13a5c25a.09713e"]]},{"id":"302cea9f.379a86","type":"mqtt in","z":"a034d22a.358ea","name":"Dash Victor Durex","topic":"cmnd/victor_durex/POWER","qos":"2","broker":"aaa9c49b.8c89c8","inputs":0,"x":170,"y":280,"wires":[["716dec6e.c60c14"]]},{"id":"716dec6e.c60c14","type":"api-call-service","z":"a034d22a.358ea","name":"Toggle Victor Fan","server":"d1ece7c4.8b5908","version":"1","debugenabled":false,"service_domain":"fan","service":"toggle","entityId":"fan.victor_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":470,"y":280,"wires":[[]]},{"id":"13a5c25a.09713e","type":"api-call-service","z":"a034d22a.358ea","name":"Close Victor Cover","server":"d1ece7c4.8b5908","version":"1","debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.victor_cover","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":470,"y":200,"wires":[[]]},{"id":"9decefd4.45379","type":"server-state-changed","z":"74bf0ce7.c1c834","name":"PC Victor ON","server":"d1ece7c4.8b5908","version":1,"entityidfilter":"switch.victor_pc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":300,"wires":[["3cf64f99.8705a"],[]]},{"id":"17a7529b.ae576d","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Turn ON Monitor Victor","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.regleta_lab_s3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":780,"y":320,"wires":[[]]},{"id":"203ea555.ca7bca","type":"api-current-state","z":"74bf0ce7.c1c834","name":"Steam Link Victor OFF","server":"d1ece7c4.8b5908","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.victor_steam_link","state_type":"str","blockInputOverrides":false,"override_topic":true,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":320,"wires":[["17a7529b.ae576d"],[]]},{"id":"1261584c.df0728","type":"server-state-changed","z":"74bf0ce7.c1c834","name":"PC Victor OFF","server":"d1ece7c4.8b5908","version":1,"entityidfilter":"switch.victor_pc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":460,"wires":[["ccb94782.a73268"],[]]},{"id":"9c94eb5d.f989e8","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Turn OFF Monitor Victor","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.regleta_lab_s3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":590,"y":420,"wires":[[]]},{"id":"fd9d80e6.d34bd","type":"server-state-changed","z":"74bf0ce7.c1c834","name":"PC Trabajo ON","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.victor_work_pc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":360,"wires":[["3cf64f99.8705a"],[]]},{"id":"1ce710fc.bfb0df","type":"server-state-changed","z":"74bf0ce7.c1c834","name":"PC Trabajo OFF","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.victor_work_pc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":520,"wires":[[],[]]},{"id":"dc172d9e.9a115","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Turn OFF Climatizador","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.lab_climate","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":580,"y":540,"wires":[[]]},{"id":"ccb94782.a73268","type":"switch","z":"74bf0ce7.c1c834","name":"Join","property":"payload","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":480,"wires":[["9c94eb5d.f989e8","dc172d9e.9a115","df1131a9.a2f3f"]]},{"id":"3cf64f99.8705a","type":"switch","z":"74bf0ce7.c1c834","name":"Join","property":"payload","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":320,"wires":[["203ea555.ca7bca"]]},{"id":"df1131a9.a2f3f","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Turn OFF Lampara Escritorio","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.regleta_lab_s4","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":600,"y":480,"wires":[[]]},{"id":"5cd27716.0b3098","type":"subflow:c44a27a2.a58368","z":"74bf0ce7.c1c834","name":"Button left pressed","env":[{"name":"Code","value":"360c22","type":"str"}],"x":130,"y":80,"wires":[["6ddd79ae.593258"]]},{"id":"6ddd79ae.593258","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Toggle Table Lamp","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.regleta_lab_s4","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":370,"y":80,"wires":[[]]},{"id":"40ceccb6.a1c8b4","type":"subflow:c44a27a2.a58368","z":"74bf0ce7.c1c834","name":"Button center pressed","env":[{"name":"Code","value":"360c24","type":"str"}],"x":140,"y":140,"wires":[["399ae51b.c9080a"]]},{"id":"bb3164e.35b8798","type":"subflow:c44a27a2.a58368","z":"74bf0ce7.c1c834","name":"Button right pressed","env":[{"name":"Code","value":"360c28","type":"str"}],"x":130,"y":200,"wires":[["9b2e5b18.588218"]]},{"id":"399ae51b.c9080a","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Toggle Fan","server":"d1ece7c4.8b5908","version":3,"debugenabled":false,"service_domain":"fan","service":"toggle","entityId":"fan.lab_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":350,"y":140,"wires":[[]]},{"id":"9b2e5b18.588218","type":"api-call-service","z":"74bf0ce7.c1c834","name":"Toggle Ceiling Light","server":"d1ece7c4.8b5908","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.fan_light_lab","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":370,"y":200,"wires":[[]]},{"id":"535f746f.88a66c","type":"inject","z":"cd832e6d.ae186","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Esto es una prueba","payloadType":"str","x":250,"y":960,"wires":[["8d8c198e.c39a98"]]},{"id":"45622282.97cdfc","type":"link in","z":"cd832e6d.ae186","name":"Google Home Notify","links":["2084d867.a03b68","89fe40c7.76877","145ce14f.ac7f5f","9d39fc13.023cd","1a8078bf.c57657"],"x":155,"y":900,"wires":[["982de517.9fd6f8"]]},{"id":"982de517.9fd6f8","type":"template","z":"cd832e6d.ae186","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.title}}:{{payload.message}}","output":"str","x":280,"y":900,"wires":[["8d8c198e.c39a98"]]},{"id":"8d8c198e.c39a98","type":"time-range-switch","z":"cd832e6d.ae186","name":"","lat":"37.39221","lon":"-5.97269","startTime":"10:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":490,"y":940,"wires":[["6efb1ef5.ae51d"],[]]},{"id":"29ca93f7.80365c","type":"cast-to-client","z":"cd832e6d.ae186","name":"","url":"","contentType":"","message":"","language":"de","ip":"192.168.1.120","port":"","volume":"","x":390,"y":1220,"wires":[["f063a70d.8575d8"]]},{"id":"f063a70d.8575d8","type":"debug","z":"cd832e6d.ae186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1220,"wires":[]},{"id":"9353c496.61e538","type":"change","z":"cd832e6d.ae186","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://jrt.fjrifj.frl/cb8fa6ee1452b86ee3965656937678f7/uF3dg5seGLs","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1220,"wires":[["29ca93f7.80365c"]]},{"id":"ffca8e3.349067","type":"change","z":"cd832e6d.ae186","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Entrada\",\"message\":\"Alguien llama!\"}","tot":"json"},{"t":"set","p":"notification_tag","pt":"msg","to":"entryphone_call_notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["2954e461.f9b65c"]]},{"id":"263569f8.5853e6","type":"link in","z":"cd832e6d.ae186","name":"Push Notify","links":["145ce14f.ac7f5f","2084d867.a03b68","89fe40c7.76877","30f7b170.a0aede"],"x":155,"y":680,"wires":[["d4850e12.501b9"]]},{"id":"b7a3f70b.dd2918","type":"api-call-service","z":"cd832e6d.ae186","name":"Push Notification","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":490,"y":680,"wires":[[]]},{"id":"b163cc42.38d0e","type":"api-call-service","z":"cd832e6d.ae186","name":"Victor TV Notification","server":"d1ece7c4.8b5908","version":"1","debugenabled":false,"service_domain":"notify","service":"victor_tv","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":500,"y":740,"wires":[[]]},{"id":"d4850e12.501b9","type":"template","z":"cd832e6d.ae186","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"data\": {\n        \"title\": \"{{payload.title}}\",\n        \"message\": \"{{payload.message}}\",\n        \"data\": {\n            \"tag\": \"{{notification_tag}}\"\n        }\n    }\n}","output":"str","x":280,"y":680,"wires":[["b7a3f70b.dd2918","b163cc42.38d0e","c58566b5.082b28"]]},{"id":"95ce963.5132668","type":"http request","z":"cd832e6d.ae186","name":"Last Hassio Version","method":"GET","ret":"obj","url":"https://s3.amazonaws.com/hassio-version/stable.json","tls":"","x":380,"y":420,"wires":[["800af369.beba"]]},{"id":"a65be4f7.5e7ee8","type":"inject","z":"cd832e6d.ae186","name":"Every 2 minutes","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":420,"wires":[["95ce963.5132668"]]},{"id":"7377c3b9.6dbb3c","type":"api-current-state","z":"cd832e6d.ae186","name":"Current Hass Version","server":"d1ece7c4.8b5908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.installed_version","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"current_hass","override_payload":"flow","entity_location":"","override_data":"none","x":640,"y":420,"wires":[["32bac732.e10828"]]},{"id":"d8c4b01b.f937","type":"switch","z":"cd832e6d.ae186","name":"Update available?","property":"current_hass","propertyType":"flow","rules":[{"t":"lt","v":"last_hass","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1010,"y":420,"wires":[["122a017f.2a373f"],["e0a0ed9b.fef0e"]]},{"id":"32bac732.e10828","type":"change","z":"cd832e6d.ae186","name":"set notif tag","rules":[{"t":"set","p":"notification_tag","pt":"msg","to":"hassio_update_notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":420,"wires":[["d8c4b01b.f937"]]},{"id":"5b97fc24.6d1194","type":"template","z":"cd832e6d.ae186","name":"Notification Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"title\":\"Nueva actualizaci贸n disponible\",\n    \"message\":\"Home Assistant Core [{{flow.last_hass}}](https://pisaso.duckdns.org/hassio/dashboard)\"\n}","output":"json","x":1420,"y":380,"wires":[["14f9bded.77f2a2"]]},{"id":"800af369.beba","type":"switch","z":"cd832e6d.ae186","name":"Succeed?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":480,"wires":[["1f8b14af.5d9a4b"]]},{"id":"a1571fd1.88a7d","type":"change","z":"cd832e6d.ae186","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Lavadora\",\"message\":\"Programa finalizado!\"}","tot":"json"},{"t":"set","p":"notification_tag","pt":"msg","to":"washing_notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["2084d867.a03b68"]]},{"id":"77d9c6dd.132748","type":"server-state-changed","z":"cd832e6d.ae186","name":"Entryphone call","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_entryphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":80,"wires":[["ffca8e3.349067"],[]]},{"id":"fc6db7df.d2a568","type":"server-state-changed","z":"cd832e6d.ae186","name":"Washing machine completed","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"completed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":160,"wires":[["a1571fd1.88a7d"],[]]},{"id":"14f9bded.77f2a2","type":"api-call-service","z":"cd832e6d.ae186","name":"Create Persistent Nofitication","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\":\"{{payload.title}}\",\"message\":\"{{payload.message}}\",\"notification_id\":\"{{notification_tag}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1660,"y":380,"wires":[[]]},{"id":"e0a0ed9b.fef0e","type":"api-call-service","z":"cd832e6d.ae186","name":"Dismiss Persistent Nofitication","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"dismiss","entityId":"","data":"{\"notification_id\":\"{{notification_tag}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1250,"y":460,"wires":[[]]},{"id":"184baf8a.f462","type":"change","z":"cd832e6d.ae186","name":"bathroom_door","rules":[{"t":"set","p":"sensor_name","pt":"msg","to":"bathroom_door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1320,"wires":[["fa483275.1bb94"]]},{"id":"d0e29ffc.ca535","type":"change","z":"cd832e6d.ae186","name":"bathroom_pir","rules":[{"t":"set","p":"sensor_name","pt":"msg","to":"bathroom_pir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1380,"wires":[["fa483275.1bb94"]]},{"id":"edc48e4a.edf02","type":"change","z":"cd832e6d.ae186","name":"entry_door","rules":[{"t":"set","p":"sensor_name","pt":"msg","to":"entry_door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1440,"wires":[["fa483275.1bb94"]]},{"id":"c32c19fc.5101a8","type":"change","z":"cd832e6d.ae186","name":"livingroom_pir","rules":[{"t":"set","p":"sensor_name","pt":"msg","to":"livingroom_pir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1500,"wires":[["fa483275.1bb94"]]},{"id":"dfe933e2.237cf","type":"change","z":"cd832e6d.ae186","name":"patio_door","rules":[{"t":"set","p":"sensor_name","pt":"msg","to":"patio_door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1560,"wires":[["fa483275.1bb94"]]},{"id":"fa483275.1bb94","type":"api-call-service","z":"cd832e6d.ae186","name":"Create Persistent Nofitication","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\":\"{{payload.title}}\",\"message\":\"RF sensor \\\"{{sensor_name}}\\\" is battery low\",\"notification_id\":\"rf_battery_{{sensor_name}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":700,"y":1440,"wires":[[]]},{"id":"46c0f0c2.bb9cd","type":"server-state-changed","z":"cd832e6d.ae186","name":"Bathroom Door Battery","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_door_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":1320,"wires":[["184baf8a.f462"],[]]},{"id":"b164941c.26ad58","type":"server-state-changed","z":"cd832e6d.ae186","name":"Bathroom Motion Battery","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_motion_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":1380,"wires":[["d0e29ffc.ca535"],[]]},{"id":"d8d1a25f.12a95","type":"server-state-changed","z":"cd832e6d.ae186","name":"Entrance Door Battery","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.entrance_door_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":1440,"wires":[["edc48e4a.edf02"],[]]},{"id":"e878a903.b2dea8","type":"server-state-changed","z":"cd832e6d.ae186","name":"Livingroom Motion Battery","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.livingroom_motion_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":1500,"wires":[["c32c19fc.5101a8"],[]]},{"id":"2c2ddc39.dd7034","type":"server-state-changed","z":"cd832e6d.ae186","name":"Patio Door Battery","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.patio_door_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1560,"wires":[["dfe933e2.237cf"],[]]},{"id":"145ce14f.ac7f5f","type":"link out","z":"cd832e6d.ae186","name":"Notify All","links":["263569f8.5853e6","45622282.97cdfc"],"x":775,"y":80,"wires":[]},{"id":"2084d867.a03b68","type":"link out","z":"cd832e6d.ae186","name":"Notify All","links":["263569f8.5853e6","45622282.97cdfc"],"x":635,"y":160,"wires":[]},{"id":"2954e461.f9b65c","type":"delay","z":"cd832e6d.ae186","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":640,"y":80,"wires":[["145ce14f.ac7f5f"]]},{"id":"c431947.6b39c68","type":"template","z":"cd832e6d.ae186","name":"Notification Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"title\":\"Test!\",\n    \"message\":\"Test\"\n}","output":"json","x":380,"y":840,"wires":[["d4850e12.501b9"]]},{"id":"bf4f688e.018e38","type":"inject","z":"cd832e6d.ae186","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Test","payloadType":"str","x":210,"y":840,"wires":[["c431947.6b39c68"]]},{"id":"c58566b5.082b28","type":"api-call-service","z":"cd832e6d.ae186","name":"Pisaso GCM","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"notify","service":"pisaso_gcm","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":470,"y":620,"wires":[[]]},{"id":"43da893f.2907b8","type":"server-state-changed","z":"cd832e6d.ae186","name":"Entrance Door OPEN","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.entrance_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":20,"wires":[[],[]]},{"id":"c7db1230.c2114","type":"change","z":"cd832e6d.ae186","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Entrada\",\"message\":\"Puerta abierta!\"}","tot":"json"},{"t":"set","p":"notification_tag","pt":"msg","to":"entrancedoor_open_notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":20,"wires":[["40c4338a.4b112c"]]},{"id":"40c4338a.4b112c","type":"delay","z":"cd832e6d.ae186","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":640,"y":20,"wires":[["30f7b170.a0aede"]]},{"id":"30f7b170.a0aede","type":"link out","z":"cd832e6d.ae186","name":"Notify All","links":["263569f8.5853e6"],"x":775,"y":20,"wires":[]},{"id":"122a017f.2a373f","type":"subflow:751c728c.a54acc","z":"cd832e6d.ae186","name":"Supervisor Reload","env":[{"name":"Method","value":"post","type":"str"},{"name":"Path","value":"supervisor/reload","type":"str"}],"x":1210,"y":380,"wires":[["5b97fc24.6d1194"]]},{"id":"1f8b14af.5d9a4b","type":"change","z":"cd832e6d.ae186","name":"Hass version","rules":[{"t":"set","p":"last_hass","pt":"flow","to":"payload.homeassistant['default']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["7377c3b9.6dbb3c"]]},{"id":"dcbc5afe.fb5bb8","type":"castv2-sender","z":"cd832e6d.ae186","name":"Sal贸n","connection":"5b49c872.638b68","x":950,"y":880,"wires":[[]]},{"id":"52271526.88457c","type":"castv2-sender","z":"cd832e6d.ae186","name":"Despacho","connection":"872545a4.1c1488","x":960,"y":940,"wires":[[]]},{"id":"6efb1ef5.ae51d","type":"template","z":"cd832e6d.ae186","name":"TTS Command","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"app\": \"DefaultMediaReceiver\",\n    \"type\": \"TTS\",\n    \"text\": \"{{payload}}\",\n    \"language\": \"es\"\n}","output":"json","x":680,"y":940,"wires":[["52271526.88457c","dcbc5afe.fb5bb8","737b3f06.7b91e"]]},{"id":"737b3f06.7b91e","type":"castv2-sender","z":"cd832e6d.ae186","name":"Habitaci贸n","connection":"7f75a4cb.5b3d0c","x":970,"y":1000,"wires":[[]]},{"id":"d696976c.4d6e08","type":"server-state-changed","z":"cd832e6d.ae186","name":"Main Power Over Limit","server":"d1ece7c4.8b5908","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.main_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"2500","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":240,"wires":[["245cd598.3f118a"],[]]},{"id":"245cd598.3f118a","type":"change","z":"cd832e6d.ae186","name":"Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Consumo\",\"message\":\"Limite de consumo alcanzado. Riesgo de corte de suministro.\"}","tot":"json"},{"t":"set","p":"notification_tag","pt":"msg","to":"washing_notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["9d39fc13.023cd"]]},{"id":"9d39fc13.023cd","type":"link out","z":"cd832e6d.ae186","name":"Notify All","links":["45622282.97cdfc"],"x":615,"y":240,"wires":[]},{"id":"3af2c0dd.6c39a","type":"api-call-service","z":"cd832e6d.ae186","name":"Create Persistent Nofitication","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\":\"Mantenimiento Dobby\",\"message\":\"Revisar \\\"{{payload.part_name}}\\\".\",\"notification_id\":\"vacuum_{{payload.part_name}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":640,"y":1720,"wires":[[]]},{"id":"d0aab67e.930bc8","type":"trigger-state","z":"cd832e6d.ae186","name":"Vacuum maintenance required","server":"d1ece7c4.8b5908","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":6,"customoutputs":[{"messageType":"payload","messageValue":"{\"part_name\":\"main_brush\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":"<=","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.main_brush_left"},{"messageType":"payload","messageValue":"{\"part_name\":\"side_brush\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":"<=","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.side_brush_left"},{"messageType":"payload","messageValue":"{\"part_name\":\"filter\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":"<=","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.filter_left"},{"messageType":"payload","messageValue":"{\"part_name\":\"sensor_dirty\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":"<=","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.sensor_dirty_left"}],"outputinitially":false,"state_type":"str","x":230,"y":1700,"wires":[[],[],["3af2c0dd.6c39a"],["3af2c0dd.6c39a"],["3af2c0dd.6c39a"],["3af2c0dd.6c39a"]]},{"id":"ab0c4743.20d008","type":"trigger-state","z":"cd832e6d.ae186","name":"Vacuum maintenance done","server":"d1ece7c4.8b5908","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":6,"customoutputs":[{"messageType":"payload","messageValue":"{\"part_name\":\"main_brush\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":">","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.main_brush_left"},{"messageType":"payload","messageValue":"{\"part_name\":\"side_brush\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":">","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.side_brush_left"},{"messageType":"payload","messageValue":"{\"part_name\":\"filter\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":">","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.filter_left"},{"messageType":"payload","messageValue":"{\"part_name\":\"sensor_dirty\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorType":">","comparatorValue":"0","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.attributes.sensor_dirty_left"}],"outputinitially":false,"state_type":"str","x":220,"y":1840,"wires":[[],[],["1363bab3.3ec7a5"],["1363bab3.3ec7a5"],["1363bab3.3ec7a5"],["1363bab3.3ec7a5"]]},{"id":"1363bab3.3ec7a5","type":"api-call-service","z":"cd832e6d.ae186","name":"Dismiss Persistent Nofitication","server":"d1ece7c4.8b5908","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"dismiss","entityId":"","data":"{\"notification_id\":\"vacuum_{{payload.part_name}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":650,"y":1860,"wires":[[]]}]